# Questions

- A lot of the open answer are in the same structure as the rest of AGQA. I think it's ok if we dont have every single thing there
    - Can we get the answer space of unbalanced AGQA? Then we could see if we need to add in ones with a certain answer

- I'm shocked that 'is the person holding somewhere' is nowhere within unbalanced AGQA. is it possible that there's a mistake/

- also the answers there is always yes which is weird

In [1]:
import json
import pickle
import random
import pandas as pd

In [2]:
#infile = open('../data/test_videos_stsg.pkl', 'rb')
infile = open('../data/training_camera_ready_stsgs.pkl', 'rb')
train_stsgs = pickle.load(infile)
infile.close()

In [3]:
path = '../../../Desktop/final_balanced'

In [4]:
vs = set()

In [5]:
df = pd.DataFrame()
dfs = []
for i, v_id in enumerate(train_stsgs):
    if i % 1000 == 0:
        print(i)
    try:
        with open('%s/%s.json' % (path, v_id), 'rb') as f:
            QA = json.load(f)
    except:
        vs.add(v_id)
        continue
    
    dicts = []
    for q_id in QA:
        q = QA[q_id]
        q['program'] = q_id
        q['first_word'] = q['program'].split('(')[0]
        q['video'] = v_id
        if q['answer'] == None:
            q['none'] = 1
        else:
            q['none'] = 0
            
        q['yes/no'] = q['answer'] in ['Yes', 'No']
        dicts.append(q)
    
    video_df = pd.DataFrame(dicts)
    dfs.append(video_df)
print(len(dfs))
df = pd.concat(dfs)

0
1000
2000
3000
4000
5000
6000
7000
4877

In [ ]:
video_df.groupby('first_word').count()

In [75]:
df.shape

(3559184, 7)

In [6]:
groups = ['none', 'yes/no']


grouped = df.groupby(groups).count()


grouped

             question   answer     type  program  first_word    video
none yes/no
0    True     1051642  1051642  1051642  1051642     1051642  1051642
1    False     708060        0   708060   708060      708060   708060

In [7]:
not_none = df[df['none'] == 0]

In [8]:
not_none.groupby(['question', 'answer']).count().sort_values('type')

,,type,program,first_word,video,none,yes/no
question,answer,,,,,,
Is the person in front of something between opening a door and holding a phone?,Yes,1,1,1,1,1,1
Is the person opening a book before holding the first object that they are on the side of?,No,1,1,1,1,1,1
Is the person opening a book before holding the first object that they are touching?,No,1,1,1,1,1,1
Is the person opening a book before holding the first object that they are wearing?,No,1,1,1,1,1,1
Is the person opening a book before holding the last object that they are closing?,No,1,1,1,1,1,1
...,...,...,...,...,...,...,...
Is the person on the side of something?,Yes,2765,2765,2765,2765,2765,2765
Is the person holding something?,Yes,4356,4356,4356,4356,4356,4356
Is the person contacting something?,Yes,4418,4418,4418,4418,4418,4418
Is the person touching something?,Yes,4547,4547,4547,4547,4547,4547
Does a person exist?,Yes,4877,4877,4877,4877,4877,4877

In [ ]:
none

In [9]:
n = df[df['none'] == 1]

In [13]:
by_v = n.groupby('video').count().sort_values('program')

In [14]:
by_v[by_v['question'] == 1]

       question  answer  type  program  first_word  none  yes/no
video
UJ69X         1       0     1        1           1     1       1
99DTF         1       0     1        1           1     1       1
HZA53         1       0     1        1           1     1       1
O03Y4         1       0     1        1           1     1       1
978PS         1       0     1        1           1     1       1
...         ...     ...   ...      ...         ...   ...     ...
EMH48         1       0     1        1           1     1       1
662ZU         1       0     1        1           1     1       1
F082Z         1       0     1        1           1     1       1
GCK0H         1       0     1        1           1     1       1
RHWU6         1       0     1        1           1     1       1

[77 rows x 7 columns]

In [15]:
x = df[df['video'] == 'UJ69X']
x[x['none'] == 1]

,question,answer,type,program,first_word,video,none,yes/no
1,Does a shoe exist?,None,Object Exists,objExists(shoe),objExists,UJ69X,1,False

In [186]:
opn = df[df['none'] == 0]
opn = opn[opn['yes/no'] == False]

opn

Empty DataFrame
Columns: [question, answer, type, program, first_word, video, none, yes/no]
Index: []

In [85]:
opn.groupby('program').count()

,question,answer,type,first_word,video,none,yes/no
program,,,,,,,
"first(objects(objExists(person), relationExists(behind)))",1,1,1,1,1,1,1
"first(objects(objExists(person), relationExists(on the side of)))",2,2,2,2,2,2,2
"first(objects_after(objExists(person), relationExists(behind), interactionExists(objExists(person), relationExists(awakening), objExists(bed))))",3,3,3,3,3,3,3
"first(objects_after(objExists(person), relationExists(behind), interactionExists(objExists(person), relationExists(closing), objExists(book))))",1,1,1,1,1,1,1
"first(objects_after(objExists(person), relationExists(behind), interactionExists(objExists(person), relationExists(closing), objExists(closet))))",1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
"shorter(interactionExists(objExists(person), relationExists(working), objExists(table)), interactionExists(objExists(person), relationExists(holding), objExists(dish)))",1,1,1,1,1,1,1
"shorter(interactionExists(objExists(person), relationExists(working), objExists(table)), interactionExists(objExists(person), relationExists(holding), objExists(food)))",1,1,1,1,1,1,1
"shorter(interactionExists(objExists(person), relationExists(working), objExists(table)), interactionExists(objExists(person), relationExists(holding), objExists(phone)))",1,1,1,1,1,1,1
"shorter(interactionExists(objExists(person), relationExists(working), objExists(table)), interactionExists(objExists(person), relationExists(sitting), objExists(bed)))",1,1,1,1,1,1,1
"shorter(interactionExists(objExists(person), relationExists(working), objExists(table)), interactionExists(objExists(person), relationExists(watching), objExists(laptop)))",2,2,2,2,2,2,2

In [94]:
opn.groupby(['type', 'answer']).count().sort_values('question')

                                          question  program  first_word  \
type            answer
Shorter Action  laughing at a television         1        1           1
Longer Action   smiling at a book                1        1           1
                sitting on a table               1        1           1
Shorter Action  holding a mirror                 1        1           1
                making some food                 1        1           1
...                                            ...      ...         ...
Indirect Object table                          629      629         629
                food                           739      739         739
                dish                           808      808         808
                chair                         1108     1108        1108
                bed                           1164     1164        1164

                                          video  none  yes/no
type            answer
Shorter Action  laughing at a television      1     1       1
Longer Action   smiling at a book             1     1       1
                sitting on a table            1     1       1
Shorter Action  holding a mirror              1     1       1
                making some food              1     1       1
...                                         ...   ...     ...
Indirect Object table                       629   629     629
                food                        739   739     739
                dish                        808   808     808
                chair                      1108  1108    1108
                bed                        1164  1164    1164

[162 rows x 6 columns]

In [48]:
grouped[grouped['question'] == 1]

,question,answer,type,first_word,video
program,,,,,
"actions_after(objExists(person), relationExists(doing), interactionExists(objExists(person), relationExists(closing), first(objects(objExists(person), relationExists(leaning on)))))",1,0,1,1,1
"actions_after(objExists(person), relationExists(doing), interactionExists(objExists(person), relationExists(closing), last(objects(objExists(person), relationExists(beneath)))))",1,0,1,1,1
"actions_after(objExists(person), relationExists(doing), interactionExists(objExists(person), relationExists(closing), last(objects(objExists(person), relationExists(in)))))",1,0,1,1,1
"actions_after(objExists(person), relationExists(doing), interactionExists(objExists(person), relationExists(closing), last(objects(objExists(person), relationExists(tidying)))))",1,0,1,1,1
"actions_after(objExists(person), relationExists(doing), interactionExists(objExists(person), relationExists(closing), objExists(laptop)))",1,0,1,1,1
...,...,...,...,...,...
"while(relationExists(writing on), interactionExists(objExists(person), relationExists(tidying), objExists(floor)))",1,1,1,1,1
"while(relationExists(writing on), interactionExists(objExists(person), relationExists(tidying), objExists(table)))",1,1,1,1,1
"while(relationExists(writing on), interactionExists(objExists(person), relationExists(watching), first(objects(objExists(person), relationExists(in front of)))))",1,0,1,1,1
"while(relationExists(writing on), interactionExists(objExists(person), relationExists(watching), objExists(window)))",1,1,1,1,1
"while(relationExists(writing on), longest(action))",1,0,1,1,1

In [49]:
groups = ['answer']


grouped2 = df.groupby(groups).count()


grouped2

,question,type,program,first_word,video
answer,,,,,
No,256661,256661,256661,256661,256661
Yes,1155097,1155097,1155097,1155097,1155097
awakening in bed,22,22,22,22,22
bag,48,48,48,48,48
bed,1315,1315,1315,1315,1315
...,...,...,...,...,...
watching outside of a window,21,21,21,21,21
watching something in a mirror,28,28,28,28,28
watching television,28,28,28,28,28
working at a table,20,20,20,20,20
working on a book,14,14,14,14,14

In [95]:
bny = df[df['none'] == 0]
bny = bny[bny['yes/no'] == True]

bny

,question,answer,type,program,first_word,video,none,yes/no
0,Does a person exist?,Yes,Object Exists,objExists(person),objExists,N11GT,0,True
1,Does a refrigerator exist?,No,Object Exists,objExists(refrigerator),objExists,N11GT,0,True
2,Is the person contacting something?,Yes,Relation Exists,relationExists(contacting),relationExists,N11GT,0,True
3,Does a broom exist?,Yes,Object Exists,objExists(broom),objExists,N11GT,0,True
4,Is the person carrying something?,Yes,Relation Exists,relationExists(carrying),relationExists,N11GT,0,True
...,...,...,...,...,...,...,...,...
96,Is the person taking the first object that the...,No,Temporal Localization,"after(interactionExists(objExists(person), rel...",after,PG1ID,0,True
97,Is the person taking something?,Yes,Interaction,"interactionExists(objExists(person), relationE...",interactionExists,PG1ID,0,True
98,Does a person exist before holding the last ob...,Yes,Exists Temporal Localization,"before(objExists(person), interactionExists(ob...",before,PG1ID,0,True
99,Is the person taking something before holding ...,Yes,Temporal Localization,"before(interactionExists(objExists(person), re...",before,PG1ID,0,True
101,Is the person taking something after holding t...,No,Temporal Localization,"after(interactionExists(objExists(person), rel...",after,PG1ID,0,True

In [101]:
grouped = bny.groupby(['program', 'answer']).count().sort_values('question')

In [98]:
grouped = grouped[grouped['question'] > 1]

In [132]:
df.columns

Index(['question', 'answer', 'type', 'program', 'first_word', 'video', 'none',
       'yes/no'],
      dtype='object')

In [114]:
grouped = bny.groupby(['program']).agg({'answer': lambda x: list(set(x))})

In [117]:
grouped['two'] = grouped['answer'].apply(lambda x: len(x) == 2)

In [120]:
two = grouped[grouped['two'] == True]
one = grouped[grouped['two'] == False]

In [122]:
one.shape, two.shape

((254437, 2), (57315, 2))

In [128]:
two_programs = list(two.reset_index().program.values)

In [134]:
bny['valid'] = bny['program'].apply(lambda x: x in two_programs)

In [140]:
valid = bny[bny['valid'] == True]

In [141]:
#valid.to_csv('../../../Desktop/binary_not_none.csv')

In [161]:
grouped = valid.groupby(['program', 'answer']).agg({'video': lambda x: list(set(x))}).reset_index()

In [162]:
grouped['keep'] = grouped['video'].apply(lambda x: len(x) == 1)

In [163]:
dicts = grouped.to_dict('records')

In [164]:
len(dicts)

114630

In [166]:
by_p = {}

for i in dicts:
    p = i['program']
    a = i['answer']
    
    if p not in by_p:
        by_p[p] = {
            'Yes': [],
            'No': []
        }
        
    by_p[p][a].append(i)

In [167]:
len(by_p)

57315

In [169]:
keep_qs = []
for p in by_p:
    ans = by_p[p]
    num_yes = len(ans['Yes'])
    num_no = len(ans['No'])
    if num_yes == 0 or num_no == 0:
        print('kept wrong!', p)
        
    num_keep = min(num_yes, num_no)
    keep_qs += random.sample(ans['Yes'], k=num_keep)
    keep_qs += random.sample(ans['No'], k=num_keep)

In [170]:
len(keep_qs)

114630

In [171]:
by_p2 = {}

for i in keep_qs:
    p = i['program']
    a = i['answer']
    
    if p not in by_p2:
        by_p2[p] = {
            'Yes': [],
            'No': []
        }
        
    by_p2[p][a].append(i)

In [172]:
len(by_p2)

57315

In [173]:
for p in by_p:
    ans = by_p[p]
    num_yes = len(ans['Yes'])
    num_no = len(ans['No'])
    if num_yes != num_no:
        print('kept wrong!', p)

In [53]:

opn = df[df['answer'].apply(lambda x: x not in ['Yes', 'No'])]

In [61]:
opn.groupby('answer').count()['question'].sum()

9801

In [72]:
n = df[df['answer'] == 'None']

In [73]:
n.shape

(0, 6)

In [69]:
ans = 0
no_ans = 0
none = 0
answers = {}
for i, v_id in enumerate(train_stsgs):
    if i % 1000 == 0:
        print(i)
    try:
        with open('%s/%s.json' % (path, v_id), 'rb') as f:
            QA = json.load(f)
    except:
        vs.add(v_id)
        continue
    
    for q_id in QA:
        q = QA[q_id]
        if 'answer' in q:
            a = q['answer']
            if a not in answers:
                answers[a] = 0
            answers[a] += 1
            ans += 1
            
            if a == None:
                none += 1
        else:
            no_ans += 1
            
ans, no_ans

0
1000
2000
3000
4000
5000
6000
7000

(3559184, 0)

In [70]:
answers

{None: 2137625,
 'Yes': 1155097,
 'No': 256661,
 'clothes': 538,
 'dish': 1097,
 'going from standing to sitting': 23,
 'bed': 1315,
 'holding some clothes': 73,
 'holding a cup of something': 163,
 'lying on the floor': 12,
 'food': 739,
 'holding a bag': 67,
 'doorway': 139,
 'holding a laptop': 29,
 'phone': 369,
 'chair': 1108,
 'watching television': 28,
 'sitting in a chair': 168,
 'blanket': 622,
 'playing with a phone': 62,
 'holding a phone': 102,
 'smiling at something': 126,
 'eating some food': 123,
 'table': 629,
 'making some food': 15,
 'watching outside of a window': 21,
 'closet': 68,
 'tidying something on the floor': 38,
 'standing up': 109,
 'holding a blanket': 75,
 'bag': 48,
 'pouring something into a cup': 18,
 'washing a dish': 2,
 'holding a pillow': 38,
 'undressing themselves': 27,
 'snuggling with a blanket': 42,
 'walking through a doorway': 60,
 'holding a box': 29,
 'holding some food': 166,
 'holding a dish': 109,
 'working at a table': 20,
 'sneezing somewhere': 34,
 'paper': 146,
 'laughing at something': 64,
 'dressing themselves': 20,
 'awakening in bed': 22,
 'sitting on the floor': 49,
 'watching a book': 50,
 'smiling at a book': 3,
 'holding a paper': 31,
 'consuming some medicine': 11,
 'lying on a bed': 44,
 'drinking from a cup': 82,
 'tidying up a closet': 16,
 'washing their hands': 4,
 'watching something in a mirror': 28,
 'door': 63,
 'running somewhere': 17,
 'tidying up a table': 34,
 'holding a shoe': 16,
 'floor': 82,
 'holding a book': 57,
 'holding a vacuum': 15,
 'sitting at a table': 76,
 'sitting in a bed': 101,
 'holding a broom': 33,
 'watching a laptop or something on a laptop': 53,
 'holding a picture': 12,
 'watching a picture': 17,
 'washing something with a blanket': 13,
 'grasping onto a doorknob': 17,
 'fixing a doorknob': 2,
 'holding some medicine': 16,
 'putting on a shoe': 11,
 'television': 1,
 'shoe': 9,
 'turning on a light': 3,
 'mirror': 11,
 'talking on a phone': 15,
 'working on a book': 14,
 'turning off a light': 1,
 'taking a picture of something': 7,
 'laughing at a television': 1,
 'washing a table': 1,
 'tidying some clothes': 6,
 'snuggling with a pillow': 8,
 'tidying up a blanket': 5,
 'smiling in a mirror': 4,
 'pillow': 32,
 'fixing their hair': 4,
 'washing a cup': 1,
 'holding a mirror': 3,
 'taking off some shoes': 10,
 'washing some clothes': 3,
 'sitting on a table': 1,
 'laughing at a picture': 2,
 'washing a mirror': 1,
 'fixing a light': 1,
 'fixing a vacuum': 1}

In [71]:
none

2137625

# Check what's been included in the balanced

In [36]:
with open('../../../Desktop/balanced_qs.json', 'rb') as f:
    qs = json.load(f)
    
with open('../../../Desktop/only_one.json', 'rb') as f:
    one = json.load(f)

In [37]:
df = pd.DataFrame(qs)

In [38]:
df.groupby('type').count()

,question,answer,program,first_word,video,none,yes/no
type,,,,,,,
Equals,112,112,112,112,112,112,112
Exists Temporal Localization,120854,120854,120854,120854,120854,120854,120854
Object Exists,23174,23174,23174,23174,23174,23174,23174
Relation Exists,1492,1492,1492,1492,1492,1492,1492
Temporal Localization,46690,46690,46690,46690,46690,46690,46690

In [39]:
df1 = pd.DataFrame(one)

In [45]:
df1.groupby('program').count().sort_values('question')

,question,answer,type,first_word,video,none,yes/no
program,,,,,,,
"between(after(relationExists(tidying), interactionExists(objExists(person), relationExists(dressing), None)), before(relationExists(tidying), interactionExists(objExists(person), relationExists(holding), objExists(laptop))))",1,1,1,1,1,1,1
"before(objExists(box), interactionExists(objExists(person), relationExists(holding), first(objects(objExists(person), relationExists(lying on)))))",1,1,1,1,1,1,1
"before(objExists(box), interactionExists(objExists(person), relationExists(holding), first(objects(objExists(person), relationExists(dressing)))))",1,1,1,1,1,1,1
"before(objExists(box), interactionExists(objExists(person), relationExists(holding), first(objects(objExists(person), relationExists(covered by)))))",1,1,1,1,1,1,1
"between(after(relationExists(putting), interactionExists(objExists(person), relationExists(watching), objExists(laptop))), before(relationExists(putting), interactionExists(objExists(person), relationExists(consuming), objExists(medicine))))",1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
relationExists(on the side of),3722,3722,3722,3722,3722,3722,3722
relationExists(putting),3729,3729,3729,3729,3729,3729,3729
relationExists(contacting),6008,6008,6008,6008,6008,6008,6008
relationExists(touching),6184,6184,6184,6184,6184,6184,6184
objExists(person),6647,6647,6647,6647,6647,6647,6647

In [115]:
d = df
num_included = {}

with open('../data/pres_part.pkl', 'rb') as f:
    pp = pickle.load(f)
    
with open('../data/eng.pkl', 'rb') as f:
    ENG = pickle.load(f)
    
for r in pp:
    if r[0] == 'c':
        break
    r = ENG[r]
    s = '%s something' % r
    d['includesString'] = d['question'].apply(lambda x: s in x)
    num_included[r] = d[d['includesString']].shape[0]

In [117]:
for i in num_included:
    if num_included[i] == 0:
        print(i)

looking at
not looking at
unsure
above
beneath
in front of
behind
on the side of
drinking from
not contacting
other relationship
awakening
cooking
drinking
lying
playing on
running
sitting
smiling
sneezing
standing
talking
working on

In [94]:
d.groupby(['includesString']).count()

,question,answer,type,program,first_word,video,none,yes/no
includesString,,,,,,,,
False,192144,192144,192144,192144,192144,192144,192144,192144
True,178,178,178,178,178,178,178,178

In [89]:
df1['oneFunc'] = df1['program'].apply(lambda x: len(x.split('(')) == 2)

In [90]:
df1.groupby('oneFunc').count()

,question,answer,type,program,first_word,video,none,yes/no,includesString
oneFunc,,,,,,,,,
False,952174,952174,952174,952174,952174,952174,952174,952174,952174
True,61930,61930,61930,61930,61930,61930,61930,61930,61930

In [91]:
simple = df1[df1['oneFunc']]

In [92]:
simple.groupby(['question']).count()

,answer,type,program,first_word,video,none,yes/no,includesString,oneFunc
question,,,,,,,,,
Does a light exist?,327,327,327,327,327,327,327,327,327
Does a person exist?,6647,6647,6647,6647,6647,6647,6647,6647,6647
Does a shoe exist?,414,414,414,414,414,414,414,414,414
Does some clothes exist?,1034,1034,1034,1034,1034,1034,1034,1034,1034
Does the floor exist?,1004,1004,1004,1004,1004,1004,1004,1004,1004
...,...,...,...,...,...,...,...,...,...
Is the person wearing something?,520,520,520,520,520,520,520,520,520
Is the person wiping something?,159,159,159,159,159,159,159,159,159
Is the person working at something?,173,173,173,173,173,173,173,173,173
Is the person working on something?,406,406,406,406,406,406,406,406,406
Is the person writing on something?,126,126,126,126,126,126,126,126,126